
      <h1>{{desert.name}}</h1>
      <img class="cube" src="{{desert.imageUrl}}">
      <div class="details">
        <p><span>Description:</span> {{desert.description}}</p>
        <p><span>Price:</span> {{desert.price}}</p>
        <a class="btn" href="/">Back</a>
      </div>
  